/*---------------------full page------------------------------*/
*{
    /*margin: 10px;*/
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 100%;
}
section{
    text-align:left;

}
section h1{
    text-align: center;
    color: darkblue;
    font-size: 50px;
    padding: 10px;
    margin: 10px;
}

/*----------------------container------------------------------*/
/*.container{
    max-width: 100%;
    max-height: 100%;
    padding: 25px;
    margin: 25px;
}*/
.col-md-4{
    min-width:150px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
    text-align:center;
}
/*.img-thumbnail{
    max-width: 60%;
    max-height: 60%;
}
.img-thumbnail-1{
    max-width: 50%;
    max-height: 50%;
}
.img-thumbnail-2{
    max-width: 40%;
    max-height: 40%;
}*/
/*---------------------product content CSS------------------------------*/
.product-content{
    width: 100%;
}
.button-tab{
    display: block;
    opacity:0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.button-tab .fa{
    cursor: pointer;
    background-color: #ffc72e;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.button-tab .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-content:hover .button-tab{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
.ratings .fa{
    color: #ffc72e;
    font-size: 16px;
}
.ratings h5{
    font-size: 20px;
    font-weight: bold;
}
.ratings h6{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.button-tab .btn-default{
    cursor: pointer;
    background-color: #ffc72e;
    color: #000;
    height: 50px;
    width: 50px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;

}
.button-tab h3{
    background-color: #ffc72e;
    color: black;
    font-size: 20px;
}
/*button{
    padding: 5px;
    margin: 5px;
    display: inline-block;
    float: bottom;
}
.btn-success{
    float: end;
}*/
.title{
    color: black;
    width: 400px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
    background-color: #2E72FF;
}
.title::after{
    content: '';
    border-top: 40px solid #2E72FF;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 390px;
}
/*-----------------------------single product details---------------------------*/
.single-product{
    margin-top: 80px;

}
.single-product .col-3 img{
    padding: 0;
}
.single-product .col-3{
    padding: 20px;
}
.single-product h2{
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 5px;
    margin-top: 10px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 25px;
    margin-right: 10px;
    border: 1px solid #ffc72e;
}
input:focus{
     outline: none;
}
.single-product .btn-list{
    padding: 5px;
    margin: 5px;
}
.single-product .btn-buy{
    background-color: darkgreen;
    font-size: 20px;
    padding-top: 5px;
}
.single-product .btn-cart{
    background-color: #ffc72e;
    font-size: 20px;
    padding-top: 5px;
}
.single-product .btn-wishlist{
    background-color: darksalmon;
    font-size: 20px;
    padding-top: 5px;
}
.single-product .fa{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}
.single-product .col-2{
    padding: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.small-img-col{
    flex-basis: 20%;
    cursor: pointer;
    height: 100%;
}
.ratings .fa{
    margin-top: 15px;
    padding-top:10px;
    color: #ffc72e;
    font-size: 20px;
}
.ratings{
    margin-top: 10px;
}
.single-product p{
    font-size: 15px;
}
.row1{
    text-align: center;
    margin-bottom: 10px;
}
/*------------------------------------------------------------------*/
.Remember-categories{
    margin: 50px 0;
    padding: 10px;
}
.Remember-categories img{
    width: 60%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}
.Remember-categories img:hover{
    transform: scale(1.1);
}
/*-------------------------------------------*/

 .link-black a {
     color: black;
 }

.link-black a:hover {
    color: #0056b3;
}

.link-black .active {
    color: #0056b3;
}

.divider-small {
    width: 30px;
    background-color: rgba(0, 0, 0, .1);
    height: 3px;
}
.mb-5{
    margin-left: 10px;
}
.mb-3{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    color: black;
}
.divider-small mb-3{
    color:blue;
}